.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    
}
nav {
    width: 73%;
    padding: 1%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    
}

ul {
    margin-right: 0;
    width: 100%;
}

.heroimg {

    height: 600px;
    padding: 25px;
}

.content {
    padding: 25px;
    width: 500px;
    margin: 0 auto;
    align-content: center;  
}

footer {
    background-color: #373738;
    padding: 25px;
    color: white;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    
}   
.footer ul {
   display:inline-block;
    vertical-align: top;

}
button {
    background-color: #373738;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    align-content: center;
}